name: Test
on: [push, pull_request]
jobs:
  test:
    name: Test for Board ${{ matrix.arduino-boards-fqbn }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arduino-boards-fqbn:
          - esp8266:esp8266:generic
          - esp32:esp32:esp32
          - arduino:avr:uno

        include:
          - arduino-boards-fqbn: esp8266:esp8266:generic
            sketches-exclude: ESP32-NVS.ino
          - arduino-boards-fqbn: arduino:avr:uno
            sketches-exclude: ESP32-NVS.ino
    steps:
      - uses: actions/checkout@v2
      - name: Test compile examples for ${{ matrix.arduino-boards-fqbn }}
        uses: ArminJo/arduino-test-compile@v3
        with:
          cli-version: 0.18.3
          arduino-board-fqbn: ${{ matrix.arduino-boards-fqbn }}
          platform-url: https://arduino.esp8266.com/stable/package_esp8266com_index.json,https://dl.espressif.com/dl/package_esp32_index.json
          required-libraries: SmartRC-CC1101-Driver-Lib@2.5.6
          sketches-exclude: ${{ matrix.sketches-exclude }}
